/* ======================================================
   FRASES
   Instituto Arroche, Rafael
====================================================== */

/* =====================================
   IMPORTA TODO O ESTILO GLOBAL
===================================== */

@import url("../../css/style.css");

/* =====================================
   ESTILOS EXCLUSIVOS DA PÁGINA
===================================== */

/* Hero */

.hero {
    min-height: 40vh;
}

/* Cards */

#lista-frases {
    max-width: 1200px;
    margin: 0 auto;
}

/* Caso alguma frase tenha imagem */

.card img {
    margin-top: 18px;
    border-radius: 12px;
}

.card-frase-interna {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    justify-content: center;
}


.frase-texto {
    font-size: 1.1rem;
    line-height: 1.7;
}


.frase-autor {
    font-weight: 600;
    color: var(--text);
}


.frase-data {
    font-size: 0.85rem;
    color: var(--text-light);
    opacity: .8;
}